body {
    background-image: url(C:\Users\acoyp\Desktop\CLOUD\PROYECTO_FINAL\frontend\src\assets\images\Abstract-Blue.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
  }